.xc-about-one {
    &__left {
        display: flex;
        align-items: center;
        gap: 18px;
        flex-wrap: wrap;
        margin-bottom: 30px;
        @media #{$md} {
            flex-wrap: nowrap;
        }
        @media #{$lg} {
            margin-bottom: 0;
        }
        & img {
            width: 100%;
            @media #{$xxl} {
                width: inherit;
            }
        }
    }

    &__img {
        @media #{$xxl} {
            flex-shrink: 0;
        }
    }

    &__img-2 {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    &__right {
        @media #{$xxl} {
            padding-left: 65px;
        }
    }
    &__heading{
        margin-bottom: 25px;
    }
    &__subtitle {
        font-size: 16px;
        font-weight: 700;
        color: var(--swiftcart-black);
        letter-spacing: 6.8px;
        text-transform: uppercase;
        margin-bottom: 20px;
        display: inline-block;
        position: relative;
        padding-left: 20px;
        &::after,
        &::before{
            position: absolute;
            left: 0;
            top: 9px;
            content: '';
            width: 3px;
            height: 11px;
            display: inline-block;
            background-color: var(--swiftcart-base);
        }
        &::after{
            background-color:#063A7A;
            left: 6px;
        }
    }

    &__title {
        font-size: 35px;
        line-height: 120%;
        @media #{$lg} {
            font-size: 40px;
        }
    }
    &__info{
        font-weight: 700;
    }
    &__checklist {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
        margin-bottom: 30px;
        & li {
           display: flex;
           align-items: baseline;
           gap: 10px;
           font-size: 16px;
           font-weight: 400;
           i {
                color: var(--swiftcart-base);
                font-size: 21px;
                position: relative;
                top: 5px;
           }
           & + li {
            margin-top: 15px;
           }
        }
    }
}