.xc-offer-one {

    &__wrap {
        border-radius: 10px;
        border: 1px solid var(--swiftcart-border-color);
        padding-top: 20px;
        @media #{$lg} {
            padding-top: 0;
        }
    }

    &__cats .col {
        border-left: 1px solid var(--swiftcart-border-color);
    }

    &__cat {
        text-align: center;
        padding: 30px 0;
        transition: .3s;

        & img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            margin-bottom: 25px;
            transition: .3s;
        }

        &:hover {
            & img {
                transform: scale(1.1);
            }
        }
    }

    &__cat-title {
        font-size: 16px;
        & a:hover {
            color: var(--swiftcart-secondary);
        }
    }

    &__cat-count {
        font-size: 14px;
        font-weight: 500;
        display: inline-block;
        padding: 0px 15px;
        border-radius: 30px;
        font-family: var(--swiftcart-heading-font);
        color: var(--swiftcart-secondary);
        background-color: rgba($color: var(--swiftcart-secondary-rgb), $alpha: .2);
    }

    &__title {
        font-size: 28px;
        font-weight: 600;
        letter-spacing: -0.29px;
        margin-bottom: 0;
    }

    &__timer {
        padding: 0 16px;
    }

    &__countdown {
        &-inner {

            & ul {
                padding-left: 0;
                display: flex;
                flex-wrap: wrap;
                gap: 8px;

                & li {
                    display: inline-block;
                    list-style: none;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1;
                    text-align: center;
                    text-transform: uppercase;
                    color: var(--swiftcart-white);
                    background-color: var(--swiftcart-black);
                    border-radius: 5px;
                    padding: 12px 15px;
                    border-radius: 5.77px;

                    & span {
                        display: block;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 1.4;
                        text-align: center;
                        text-transform: capitalize;

                    }
                }
            }
        }
    }

}

.xc-sale-one__banner {
    @media #{$xl} {
        margin-right: 40px;
    }

    @media #{$xxl} {
        margin-right: 0;
    }

    & img {
        border-radius: 12px;
        width: 100%;

        @media #{$xl} {
            width: auto;
        }
    }
}

.xc-ads-countdown {
    position: relative;
    z-index: 1;
    &__shape-2 {
        position: absolute;
        top: 30%;
        right: 0;
        z-index: -1;
    }

    &__img {
        position: relative;
    }

    &__shape {
        position: absolute;
        left: -60px;
        bottom: 0;
        z-index: -1;
    }
    &__content{
        padding: 30px 0;
        @media #{$md} {
            padding: 0;
        }
    }
    &__title {
        font-size: 60px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 20px;
        & u {
            font-weight: 300;
            text-decoration: none;
            border-bottom: 2px solid #333;
        }
    }

    &__subtitle {
        color: var(--swiftcart-black);
        font-size: 15px;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        letter-spacing: 7.3px;
        margin-bottom: 10px;
        display: inline-block;
        font-family: var(--swiftcart-heading-font);
        @media #{$md} {
            font-size: 20px;
        }
    }

    &__info {
        font-size: 16px;
    }

    &__count-inner {
        margin-top: 60px;
        margin-bottom: 60px;
        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            & li {
                font-family: var(--swiftcart-heading-font);
                font-size: 16px;
                font-style: normal;
                line-height: 1.2;
                padding: 17px;
                font-weight: 500;
                min-width: 94.402px;
                text-align: center;
                text-transform: uppercase;
                color: var(--swiftcart-black);
                border: 1px solid var(--swiftcart-black);
                span {
                    display: block;
                    font-size: 45px;
                    font-weight: 300;
                }
            }
        }
    }

}